<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="conStr" value="Server=qds-045.hichina.com;database=qds0450616_db;Uid=qds0450616;Pwd=Daisy520"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>